@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Raleway:wght@100&display=swap');

/* Common Styles */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 outline: none;
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
}

html{
 font-size: 62.5%;
}
/* End of common styles */

/* Navbar */
.navbar{
 align-items: center;
 background-color: black;
 box-shadow: .2rem .2rem .2rem lightgreen;
 display: flex;
 justify-content: center;
 height: 10rem;
 position: fixed;
 top: -11rem;
 width: 100%;
 transition: all .4s 0.2s;
 z-index: 17;
}

.navbar.change{
 top: 0rem;
}

.navbar-link{
 align-items: center;
 color: white;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin: 0 4rem;
 opacity: 0;
 transition: color .3s, opacity .2s;
}

.change .navbar-link{
 opacity: 1;
}

.change .navbar-link:nth-child(1){
 transition: opacity .4s .5s, color .3s;
}
.change .navbar-link:nth-child(2){
 transition: opacity .4s .6s, color .3s;
}
.change .navbar-link:nth-child(3){
 transition: opacity .4s .7s, color .3s;
}
.change .navbar-link:nth-child(4){
 transition: opacity .4s .8s, color .3s;
}

.navbar-link:hover{
 color: lightgreen;
}

.navbar-link i{
 font-size: 5rem;
}

.navbar-link span{
 font-size: 2.5rem;
 letter-spacing: .4rem;
 text-align: center;
 margin-top: .3rem;
}

.menu{
 background-color: #000;
 border-radius: 30rem 30rem 15rem 15rem;
 box-shadow: .1rem .1rem .1rem #000, -.1rem -.1rem -.1rem #000;
 cursor: pointer;
 height: 7rem;
 width: 4rem;
 position: fixed;
 top: 2rem;
 left: 8rem;
 transition: all .4s;
 z-index: 16;
}

.menu.change{
 top: 11rem;
 transition: top 0.4s;
}

.menu::before{
 background-color: black;
 box-shadow: .1rem 0 .1rem #000;
 content: "";
 width: .3rem;
 height: 16rem;
 position: absolute;
 top: -9rem;
 left: calc(50% - .15rem);
}
/* End of Navbar */

/* Section 1 */
.section-1{
 width: 100%;
 height: 100vh;
 background-color: rgb(240, 240, 240);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}

.kusina-logo{
 border-radius: 50%;
}

.section-heading{
 font-size: 7rem;
 font-weight: 900;
 text-align: center;
 text-transform: capitalize;
 letter-spacing: 0.5rem;
 margin-top: -3rem;
 text-shadow: .3rem .3rem .3rem #000;
}

.p-heading{
 font-size: 2rem;
 text-shadow: none;
}
.p-heading2{
 font-size: 1.5rem;
 text-shadow: none;
 text-decoration: underline;
}

.section-1-images{
 background-size: contain;
}
.section-1-images img{
 border-radius: 20%;
 background-size: contain;
 height: 30rem;
 object-fit: cover;
 position: absolute;
 transform: translate(-50%,-50%) scale(0);
 text-shadow: .2rem .2rem .2rem #000;
}

.section-1-images img.change{
 transform: translate(-50%,-50%) scale(1);
}
/* End of Section 1 */

/* Halo2 after 1st section */
.halo2{
 background: url(./Kusinaphotos/halo2.webp) center no-repeat fixed;
 font-family: 'Cormorant Garamond', arial;
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

#halo2-text{
 color: white;
 font-family: 'Cormorant Garamond', serif;
 font-size: 6rem;
 font-weight: 500;
 letter-spacing: 0.2rem;
 text-align: center;

}

/* Halo2 after 1st section */


/*Section 2 */
.section-2{
 background-color: rgb(240, 240, 240);
 display: flex;
 flex-direction: column;
 height: 100vh;
 justify-content: space-between;
 width: 100%;
 padding: 10rem 0;
}

.section2-heading{
 font-family: 'Cormorant Garamond', serif;
 font-size: 7rem;
 font-weight: 900;
 text-align: center;
 text-transform: capitalize;
 letter-spacing: 0.5rem;
 margin-top: -2rem;
 text-shadow: .2rem .3rem .3rem rgba(0, 0, 0, 0.521);
 z-index: 10;
}

.section2-p{
 font-size: 2rem;
 margin-top: 2rem;
 text-align: center;
}

.cards-container{
 display: flex;
 margin-top: 15rem;
 transform: translatey(-7rem);
 justify-content: space-evenly;
}

.card{
 align-items: center;
 background-color: #54a72d66;
 box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.526);
 display: flex;
 flex-direction: column;
 height: 35rem;
 padding: 4rem;
 justify-content: space-between;
 width: 30rem;
 position: relative;
 transform: rotateY(20deg) skewX(-.5deg);
 transition: 0.2s ease-in all;
}

.card:hover{
 box-shadow: 2rem 2rem 2rem #000;
 transform: rotateY(20deg) skewX(-1deg) translateY(-3rem);
}

.card::before{
 background-color: #34812495;
 content:"";
 height: 100%;
 width: 1rem;
 position: absolute;
 top: 0;
 left: -1rem;
 transform: skewY(45deg);
 transform-origin: right;
}
.card::after{
 background-color: #34812495;
 content:"";
 height: 1rem;
 width: 100%;
 position: absolute;
 top: -1rem;
 left: 0;
 transform: skewX(45deg);
 transform-origin: bottom;
}

.card-img{
 border-radius: 1rem;
 width: 100%;
 height: 30vh;
 object-fit: cover;
}

.card-name{
 font-size: 3rem;
 font-weight: 900;
 text-transform: uppercase;
 letter-spacing: 0.5rem;
 text-shadow: .15rem .15rem .15rem black;
}

.card-btn{
 /* border-radius: 5rem; */
 background-color: #111;
 border: none;
 cursor: pointer;
 color: #888;
 font-size: 1.5rem;
 letter-spacing: .2rem;
 padding: .5rem 0;
 text-transform: capitalize;
 width: 70%;
}

.card-btn:hover{
 color: white;
}
/* End of Section 2*/

/*Section 3 */
.section-3{
 height: 100vh;
}

.section3-heading{
 font-size: 7rem;
 font-weight: 900;
 text-align: center;
 text-transform: capitalize;
 letter-spacing: 0.5rem;
 margin-top: 3rem;
 text-shadow: .3rem .3rem .3rem #000;
}

.section3-text{
 font-size: 2rem;
 margin-top: 2rem;
 text-align: center;
}

.gallery{
 align-items: center;
 display:flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 margin-top: 10rem;
}

.gallery-link{
 position: relative;
 margin: 4rem 1rem;
}

.gallery-link::before{
 background-color: white;
 content: "";
 height: 0;
 position: absolute;
 top: 2vw;
 left: 80%;
 width: .2rem;
 transition: height .5s;
 z-index: 11;
}

.gallery-link:hover::before{
 height: 80%;
}

.gallery-link:hover::after{
 width: 90%;
}

.gallery-link::after{
 background-color: white;
 content: "";
 height: .2rem;
 left: 2rem;
 position: absolute;
 top: 30%;
 transition: all .5s ease-in;
 width: 0%;
}


.food-img{
 box-shadow: .3rem .3rem .1rem #29e969, .5rem .5rem .1rem #a2e946, .7rem .7rem .1rem #29e989, .9rem .9rem .1rem #29e9c9;
 cursor: pointer;
 height: 15vw;
 width: 24vw;
 object-fit: cover;
 transition: all 0.5s;
}

.gallery-link:hover .food-img{
 box-shadow: 1rem 1rem .1rem #29e969, 2rem 2rem .1rem #a2e946, 3rem 3rem .1rem #29e989, 4rem .4rem .1rem #29e9c9;
 filter: blur(.3rem);
 opacity: .5;
 transform: scale(1.1);
}

.food-name{
 position: absolute;
 top:3rem;
 left:3rem;
 font-size: 2rem;
 font-weight: 800;
 text-transform: uppercase;
 letter-spacing: .1rem;
 color: white;
 width: 0;
 overflow: hidden;
 transition: width 0.3s;
}

.gallery-link:hover .food-name{
 width: 100%;
 transition: width 1s .5s;
}


.food-description{
 position: absolute;
 bottom: 3vw;
 left: 2rem;
 width: 70%;
 font-size: 1.5rem;
 font-weight: 700;
 letter-spacing: .1rem;
 text-transform: uppercase;
 color: white;
 opacity: 0;
 visibility: hidden;
 transition: opacity .3s;
}

.gallery-link:hover .food-description{
 background: rgba(176, 249, 131, 0.5); 
 font-weight: 800;
 opacity: 1;
 visibility: visible;
 transition: opacity 0.6s 0.6s;
}

/* End of Section 3*/

/* Section 4 */
.section-4{
 align-items: flex-start;
 background-color: rgb(57, 177, 57);
 display: flex;
 height: 20vh;
 justify-content: space-around;
 width: 100%;
 padding: 3rem 0;
 position: relative;
}

.section-4-text{
 text-transform: uppercase;
}

.section-4-heading{
 font-family: 'Cormorant Garamond', arial;
 font-size: 4rem;
 font-weight: 900;
 color: #005f30;
}

.section-4-paragraph{
 font-size: 1.5rem;
}

.signup-form{
 display: flex;
 align-items: center;
}

.signup-form-input{
 border: .2rem solid #a79a2d;
 color: green;
 font-size: 1.6rem;
 font-weight: 700;
 letter-spacing: .1rem;
 width: 35rem;
 height: 4rem;
 padding: 1rem;
}

.signup-form-input::placeholder{
 color: #a79a2d;
}

.signup-form-btn{
 border: none;
 cursor: pointer;
 font-size: 1.8rem;
 height: 3.5rem;
 left: -4rem;
 position: relative;
 width: 3.5rem;
}

.copyright{
 border-top: .1rem solid white;
 color: white;
 bottom: 1rem;
 font-size: 1.3rem;
 padding-top: 1rem;
 position: absolute;
 text-align: center;
 width: 100%;
}
/* End of Section 4 */

/* Responsive Screen Sizes*/
@media(max-width: 1400px){
 html{
  font-size: 50%;
 }
 .section-2{
  height: auto;
  padding: 10rem 0 12rem 0;
 }

 .cards-container{
  margin-top: 10rem;
 }

 .gallery-link{
  width: 40rem;
  height: 25rem;
  margin: 5rem;
 }

 .food-img{
  width: 100%;
  height: 100%;
 }
}

@media(max-width: 1000px) {
 .section-heading{
  font-size: 9rem;
  margin: 0 5rem;
 }

 .section-1-images{
  font-size: 2rem;
 }

 .cards-container{
  flex-wrap: wrap;
 }

 .card{
  margin: 5rem;
 }

 .section-4{
  height: 30rem;
 }
}

@media(max-width: 900px){
 .navbar-link{
  margin: 2rem;
 }

 .navbar-link i{
  font-size: 4rem;
 }

 .navbar-link span{
  font-size: 2rem;
 }
}

@media(max-width: 700px) {
 .section-heading{
  font-size: 7rem;
  margin: 0 10rem;
 }

 .section-1-images i{
  font-size: 20rem;
 }

 .menu{
  left: 2rem;
 }

 .section-4{
  align-items: center;
  flex-direction: column;
  height: 40rem;
  justify-content: flex-start;
 }

 .section-4-text{
  margin-bottom: 8rem;
 }
}

@media(max-width: 550px){
 html{
  font-size: 40%;
 }

.navbar-link{
 margin: 0 .7rem;
}
}
/* End of Responsive Screen Sizes */