@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Raleway:wght@100&display=swap');

/* Common Styles */
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 outline: none;
 font-family: 'Raleway', sans-serif;
 font-weight: 800;
}

html{
 font-size: 62.5%;
}
/* End of common styles */

/* Section 1 */
.section-1{
 width: 100%;
 height: 100vh;
 background-color: rgb(240, 240, 240);
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
}

.kusina-logo{
 border-radius: 50%;
}

.section-heading{
 font-size: 7rem;
 font-weight: 900;
 text-align: center;
 text-transform: capitalize;
 letter-spacing: 0.5rem;
 margin-top: -3rem;
 text-shadow: .3rem .3rem .3rem #000;
}

.p-heading{
 font-size: 2rem;
 text-shadow: none;
}
.p-heading2{
 font-size: 1.5rem;
 text-shadow: none;
 text-decoration: underline;
}

.section-1-images{
 background-size: contain;
}
.section-1-images img{
 border-radius: 20%;
 background-size: contain;
 height: 30rem;
 object-fit: cover;
 position: absolute;
 transform: translate(-50%,-50%) scale(0);
 text-shadow: .2rem .2rem .2rem #000;
}

.section-1-images img.change{
 transform: translate(-50%,-50%) scale(1);
}
/* End of Section 1 */

/* Halo2 after 1st section */
.halo2{
 background: url(./Kusinaphotos/halo2.webp) center no-repeat fixed;
 font-style: 'Cormorant Garamond', arial;
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}

#halo2-text{
 color: white;
 font-family: 'Cormorant Garamond', serif;
 font-size: 6rem;
 font-weight: 500;
 letter-spacing: 0.2rem;
 text-align: center;

}

/* Halo2 after 1st section */


/*Section 2 */
.section-2{
 background-color: rgb(240, 240, 240);
 display: flex;
 flex-direction: column;
 height: 100vh;
 justify-content: space-between;
 width: 100%;
 padding: 10rem 0;
}

.section2-heading{
 font-family: 'Cormorant Garamond', serif;
 font-size: 7rem;
 font-weight: 900;
 text-align: center;
 text-transform: capitalize;
 letter-spacing: 0.5rem;
 margin-top: -2rem;
 text-shadow: .2rem .3rem .3rem rgba(0, 0, 0, 0.521);
 z-index: 10;
}

.section2-p{
 font-size: 2rem;
 margin-top: 2rem;
 text-align: center;
}

.cards-container{
 display: flex;
 margin-top: 15rem;
 transform: translatey(-7rem);
 justify-content: space-evenly;
}

.card{
 align-items: center;
 background-color: #54a72d66;
 box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.526);
 display: flex;
 flex-direction: column;
 height: 35rem;
 padding: 4rem;
 justify-content: space-between;
 width: 30rem;
 position: relative;
 transform: rotateY(20deg) skewX(-.5deg);
 transition: 0.2s ease-in all;
}

.card:hover{
 box-shadow: 2rem 2rem 2rem #000;
 transform: rotateY(20deg) skewX(-1deg) translateY(-3rem);
}

.card::before{
 background-color: #34812495;
 content:"";
 height: 100%;
 width: 1rem;
 position: absolute;
 top: 0;
 left: -1rem;
 transform: skewY(45deg);
 transform-origin: right;
}
.card::after{
 background-color: #34812495;
 content:"";
 height: 1rem;
 width: 100%;
 position: absolute;
 top: -1rem;
 left: 0;
 transform: skewX(45deg);
 transform-origin: bottom;
}

.card-img{
 border-radius: 1rem;
 width: 100%;
 height: 30vh;
 object-fit: cover;
}

.card-name{
 font-size: 3rem;
 font-weight: 900;
 text-transform: uppercase;
 letter-spacing: 0.5rem;
 text-shadow: .15rem .15rem .15rem black;
}

.card-btn{
 /* border-radius: 5rem; */
 background-color: #111;
 border: none;
 cursor: pointer;
 color: #888;
 font-size: 1.5rem;
 letter-spacing: .2rem;
 padding: .5rem 0;
 text-transform: capitalize;
 width: 70%;
}

.card-btn:hover{
 color: white;
}
/* End of Section 2*/

/*Section 3 */
.section-3{
 height: 100vh;
}

.section3-heading{
 font-size: 7rem;
 font-weight: 900;
 text-align: center;
 text-transform: capitalize;
 letter-spacing: 0.5rem;
 margin-top: 3rem;
 text-shadow: .3rem .3rem .3rem #000;
}

.section3-text{
 font-size: 2rem;
 margin-top: 2rem;
 text-align: center;
}

.gallery{
 align-items: center;
 display:flex;
 flex-wrap: wrap;
 justify-content: space-evenly;
 margin-top: 10rem;
}

.gallery-link{
 position: relative;
 margin: 4rem 1rem;
}

.gallery-link::before{
 background-color: white;
 content: "";
 height: 80%;
 position: absolute;
 top: 2vw;
 left: 80%;
 width: .2rem;
 transition: .5s;
}

.gallery-link:hover::before{
 opacity: 1;
 height: 80%;
}

.gallery-link::after{
 background-color: white;
 content: "";
 height: .2rem;
 left: 2rem;
 position: absolute;
 top: 30%;
 transition: width .5s;
 width: 90%;
}

.gallery-link:hover::after{
 width: 80%;
}

.food-img{
 box-shadow: .3rem .3rem .1rem #29e969, .5rem .5rem .1rem #a2e946, .7rem .7rem .1rem #29e989, .9rem .9rem .1rem #29e9c9;
 cursor: pointer;
 height: 15vw;
 width: 24vw;
 object-fit: cover;
 transition: all 0.5s;
}

.gallery-link:hover .food-img{
 box-shadow: 1rem 1rem .1rem #e92929, 2rem 2rem .1rem #a2e946, 3rem 3rem .1rem #297ce9, 4rem .4rem .1rem #e92999;
 filter: blur(.5rem);
 opacity: .5;
}

.food-name{
 position: absolute;
 top:3rem;
 left:3rem;
 font-size: 2rem;
 font-weight: 700;
 text-transform: uppercase;
 letter-spacing: .1rem;
 color: white;
 width: 0;
 overflow: hidden;
 transition: width 0.3s;
}

.gallery-link:hover .food-name{
 width: 100%;
 transition: width 1s .5s;
}


.food-description{
 position: absolute;
 bottom: 3vw;
 left: 2rem;
 width: 70%;
 font-size: 1.5rem;
 font-weight: 400;
 letter-spacing: .1rem;
 text-transform: uppercase;
 color: white;
 opacity: 0;
 visibility: hidden;
 transition: opacity .3s;
}

.gallery-link:hover .food-description{
 opacity: 1;
 visibility: visible;
 transition: opacity 1s 1s;
}

/* End of Section 3*/